*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body *{
    font-family: 'Oswald', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    
}


body{
    background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
    height: 100vh;
}


#logo img{
    width: 160px;
    margin-top: 5px;
    margin-left: 2px;
}

#container{
    display: flex;
    width: 310;
    margin: 0px 200px;
    margin-top: 30px;
    border-radius: 10px;
    border: 2.5px solid rgba(255, 255, 255, 0.089);
}
#container ul{   
    list-style: none;
}
#container ul li a{
    font-size: 19px;
    text-decoration: none;
}
#container ul{
    display: flex;
    flex-direction: row;
}
#container #About{ 
    padding-left: 210px;
}
#container #Services{ 
    padding-left: 30px;
}


